* {
  font-family: serif;
}

body {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  height: 100%;
}

button, .button {
  font-size: inherit;
  border: 0.005vw;
  border-style: solid;
  border-color: black;
  /* border-radius: 50%; */
  padding: 1vw;
  background-color: white;
  text-decoration: none;
}

button:focus, .button:focus {
  outline: 0;
}

button:hover, .button:hover {
  background-color: black;
  color: white;
}

a {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

/* form {
  display: flex;
} */

input {
  flex: 1;
  width: auto;
  font-family: inherit;
  font-size: inherit;
  border: 0.005vw;
  border-style: solid;
  border-color: black;
  padding: 1vw;
  font-size: 100%;
  border: 0.005vw;
  border-style: solid;
  border-color: black;
  padding: 1vw;
  background-color: white;
  text-decoration: none;
}

.app-title {
  font-size: 2em;
  /* position: ; */
}

.main-container {
}

.article-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-column {
  flex: 1;
  min-width: 15vw;
  /* height: 536px; */
  margin: 1vw;
  /* margin-left: 0; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-container {
  display: flex;
  padding: 1vw;
}

.flex-column {
  flex: 1;
  text-align: center;
}

.profile {
  text-align: center;
  margin: 2vw;
  margin-bottom: 3.5vw;
}

.error {
  background-color: red;
  color: white;
  padding: 1vw;
  text-align: center;
  margin: 1vw;
}

.profile-item {
  margin: 1vw;
}

.section-header {
  text-align: center;
}

.block-button {
  display: block;
  width: 100%;
  margin-bottom: 1vw;
}

.number-container {
  text-align: center;
  margin-bottom: 5vw;
}

/*
.number-fix {
  color: white;
} */

.number {
  /* width: 100px; */
  /* height: 100px; */
  margin-bottom: 1.5vw;
  text-align: center;
  border: 0.075vw;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  padding: 1vw;
}

.comment {
  border: 0.005vw;
  border-style: solid;
  border-color: black;
  padding: 0.5vw;
}

.delete-comment {
  display: flex;
  justify-content: flex-end;
}

.article-text {
  margin-bottom: 1.5vw;
}

/*.article-title {
  margin: 0.5vw
}
.article-description {
  margin: 0.5vw
} */
.article-buttons {
  /* margin: 1.5vw; */
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;
}


.attribution {
  float: right;
  padding: 1vw;
}


#attribution:hover {
  color: red;
}

#date {
  display: flex;
  justify-content: center;
  padding: 1vw;
  margin-bottom: 3vw;
  font-size: 1.75em;
}

#username {
  font-size: 1.75em;
}
